.title {
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  margin-top: 3vw;
  color: #1282a2;
}

.dropdown-menu li{
  background-color: #c0cbe6;
}

.form-group {
  min-width: 40vw;
  margin-top: 2vw;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.container-form {
  display: flex;
  justify-content: center;
}

.button {
  color: white;
  background-color: #1282a2;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  border: solid 1px #1282a2;
  min-width: 5vw;
  margin-top: 2vw;
  transition: 0.5s;
}

.button:hover {
  background-color: #064a5c;
  border: solid 1px #1282a2;
}

@media screen and (max-width: 1230px) {
  .container_main {
    height: 45px;
  }
}

@media screen and (min-width: 1400px) {
  .container-form {
    min-height: 31.8vw;
  }
}
