
* {
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

.dropdown-menu li{
    background-color: #c0cbe6;
}

.container-card{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 37.95vw;
}

.row-detail{
    background-color: #dde1e9;
    max-width: 60vw;
    border-radius: 1.5vw;
    min-height: 22vw;
}

.img {
    margin-top: 3vw;
    margin-bottom: 1vw;
    margin-left: 1.5vw;
    min-width: 20vw;
    min-height: 15vw;
    border-radius: 1.5vw;
    border: solid 3px rgb(243, 243, 243);
}

.card-body {
    max-width: 30vw;
    margin-top: 1vw;
    margin-left: 1.5vw;
}

.card-body h5 {
    color: #1282a2;
    font-weight: 800;
}

.text-category {
    color: #979797;
    font-size: 14px;
}


.card-body p {
    font-weight: 700;
}

.list {
    margin-bottom: 100vw;
}

@media screen and (min-width: 1400px) {
    .row-detail{
        max-width: 60vw;
        
    }
    .card-body {
        margin-top: 3.2vw;
    }
}

@media screen and (max-width: 1200px) {
    .row-detail{
        max-width: 65vw;
        margin-left: 0px;
    }
    .container-card {
        margin-top: 25vw;
        margin-bottom: 25vw;
        margin-left: 0px;
    }
    .card-body {
        max-width: 80vw;
        margin-left: 0px;
    }
    .img {
        width: 100%;
        margin-left: 0px;

    }
}

